{% extends 'common.html' %}

{% block title %}
    详情
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block body %}
    <h4 style="text-align: center">{{ res.title }}</h4>
    <p style="text-align: center;">
        <span style="margin: 20px;">作者:{{ res.author.username }}</span>
        <span>时间:{{ res.create_time }}</span>
    </p>
    <hr>
    <p>{{ res.content }}</p>
    <hr>

    <h4>评论 （{{ count}}）</h4>
    <form action="{{ url_for('answer') }}" method="post">
        <div class="form-group">
            <input name="answer" type="text" class="form-control" placeholder="填写评论">
            <input type="hidden" name="article-id" value="{{ res.id }}">
        </div>
        <div class="form-group" style="text-align:right;">
            <button class="btn btn-primary">评论</button>
        </div>
    </form>


    <ul style="padding-left: 0">
        {% for answer in res.answer %}
            <li style="padding-top:10px;list-style:none;border-bottom: 1px solid #eeeeee;line-height: 38px" >
                <div style="font-size: 16px;color:#9b9d9b ">
                    <img style="width: 38px;height: 38px;border-radius: 50%" src="{{ url_for('static',filename='images/article.jpg') }}" >
                    <span style="margin-left: 20px;">{{ answer.author.username }}</span>
                    <span style="float: right">{{ answer.create_date }}</span>

                </div>
                <p style="margin-left: 62px">{{ answer.content }}</p>
            </li>

        {% endfor %}
    </ul>

{% endblock %}